/* mansStils.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('fona_attels.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    color: #ffffff; 
    font-size: 25px
}

header {
    background-color: #333; 
    color: #c49352; 
    padding: 10px;
    text-align: center;
    font-size: 55px
}

section, footer {
    padding: 20px;
}
